if TARGET_IMX6CPNK

config SYS_BOARD
	default "imx6cpnk"

config SYS_VENDOR
	default "chargepoint"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "imx6cpnk"

config SYS_TEXT_BASE
	default 0x17800000

source "board/freescale/common/Kconfig"

endif

