/*
 * Copyright (C) 2015-2016 Freescale Semiconductor, Inc.
 *
 * SPDX-License-Identifier:	GPL-2.0+
 *
 * Refer doc/README.imximage for more details about how-to configure
 * and create imximage boot image
 *
 * The syntax is taken as close as possible with the kwbimage
 */

#define __ASSEMBLY__
#include <config.h>
/* image version */
IMAGE_VERSION 2

/*
 * Boot Device : one of
 * spi, sd (the board has no nand neither onenand)
 */
BOOT_FROM      sd

#ifdef CONFIG_USE_IMXIMG_PLUGIN
/*PLUGIN    plugin-binary-file    IRAM_FREE_START_ADDR*/
PLUGIN board/freescale/mx6sabresd_pbc/plugin.bin 0x00907000
#else

#ifdef CONFIG_SECURE_BOOT
CSF CONFIG_CSF_SIZE
#endif

#include <asm/arch/mx6-ddr.h>
#include <asm/arch/iomux.h>
/*
 * Device Configuration Data (DCD)
 *
 * Each entry must have the format:
 * Addr-type           Address        Value
 *
 * where:
 *      Addr-type register length (1,2 or 4 bytes)
 *      Address   absolute address of the register
 *      value     value to be stored in the register
 */

/* Common DDR config */

DATA 4, MX6_IOM_DRAM_SDQS0, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS1, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS2, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS3, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS4, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS5, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS6, 0x00000030
DATA 4, MX6_IOM_DRAM_SDQS7, 0x00000030

DATA 4, MX6_IOM_GRP_B0DS, 0x00000030
DATA 4, MX6_IOM_GRP_B1DS, 0x00000030
DATA 4, MX6_IOM_GRP_B2DS, 0x00000030
DATA 4, MX6_IOM_GRP_B3DS, 0x00000030
DATA 4, MX6_IOM_GRP_B4DS, 0x00000030
DATA 4, MX6_IOM_GRP_B5DS, 0x00000030
DATA 4, MX6_IOM_GRP_B6DS, 0x00000030
DATA 4, MX6_IOM_GRP_B7DS, 0x00000030
DATA 4, MX6_IOM_GRP_ADDDS, 0x00000030
/* 40 Ohm drive strength for cs0/1,sdba2,cke0/1,sdwe */
DATA 4, MX6_IOM_GRP_CTLDS, 0x00000030

DATA 4, MX6_IOM_DRAM_DQM0, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM1, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM2, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM3, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM4, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM5, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM6, 0x00000030
DATA 4, MX6_IOM_DRAM_DQM7, 0x00000030

DATA 4, MX6_IOM_DRAM_CAS, 0x00000030
DATA 4, MX6_IOM_DRAM_RAS, 0x00000030
DATA 4, MX6_IOM_DRAM_SDCLK_0, 0x00000030
DATA 4, MX6_IOM_DRAM_SDCLK_1, 0x00000030

DATA 4, MX6_IOM_DRAM_RESET, 0x000e0030
DATA 4, MX6_IOM_DRAM_SDCKE0, 0x00003000
DATA 4, MX6_IOM_DRAM_SDCKE1, 0x00003000

DATA 4, MX6_IOM_DRAM_SDODT0, 0x00000030
DATA 4, MX6_IOM_DRAM_SDODT1, 0x00000030

/* (differential input) */
DATA 4, MX6_IOM_DDRMODE_CTL, 0x00020000
/* (differential input) */
DATA 4, MX6_IOM_GRP_DDRMODE, 0x00020000
/* disable ddr pullups */
DATA 4, MX6_IOM_GRP_DDRPKE, 0x00000000
DATA 4, MX6_IOM_DRAM_SDBA2, 0x00000000
/* 40 Ohm drive strength for cs0/1,sdba2,cke0/1,sdwe */
DATA 4, MX6_IOM_GRP_DDR_TYPE, 0x000C0000

/* Read data DQ Byte0-3 delay */
DATA 4, MX6_MMDC_P0_MPRDDQBY0DL, 0x33333333
DATA 4, MX6_MMDC_P0_MPRDDQBY1DL, 0x33333333
DATA 4, MX6_MMDC_P0_MPRDDQBY2DL, 0x33333333
DATA 4, MX6_MMDC_P0_MPRDDQBY3DL, 0x33333333
DATA 4, MX6_MMDC_P1_MPRDDQBY0DL, 0x33333333
DATA 4, MX6_MMDC_P1_MPRDDQBY1DL, 0x33333333
DATA 4, MX6_MMDC_P1_MPRDDQBY2DL, 0x33333333
DATA 4, MX6_MMDC_P1_MPRDDQBY3DL, 0x33333333

/*
 * MDMISC	mirroring-off	interleaved (row/bank/col)
 */
DATA 4, MX6_MMDC_P0_MDMISC, 0x00011740

/*
 * MDSCR	con_req
 */
DATA 4, MX6_MMDC_P0_MDSCR, 0x00008000

/* NoC DDR configuration register set */
DATA 4 0x00bb0008 0x00000004
DATA 4 0x00bb000c 0x2891E41A
DATA 4 0x00bb0038 0x00000564
DATA 4 0x00bb0014 0x00000040
DATA 4 0x00bb0028 0x00000020
DATA 4 0x00bb002c 0x00000020


/* MT41K512M16HA DDR single chip select memory */

/*
 * MT41K512M16HA IT:A
 * 16 row + 3 bank + 10 col + 0 rank + 3 width = 32 = 4 GB
 * tRCD 13125 ps
 * tRP 13125 ps
 * tCL 13125 ps
 * 528M DDR clock = .528G = 1893.9ps/clocks
 * 13125ps / 1893.9ps/clocks = 6.93 clocks
 */

DATA 4, MX6_MMDC_P0_MDPDC, 0x00020036
/*DATA 4, MX6_MMDC_P0_MDSCR, 0x00008000*/
/*
 * tRFC:0x89:138 clocks		(260000/1893.9)
 * tXS:0x8e:143 clocks		(270000/1893.9)
 * tXP:b'011': 4 clocks		(6000/1893.9)
 * tXPDLL:b'1100': 13 clocks	(24000/1893.9)
 * tFAW:b'11010': 27 clocks	(50000/1893.9)
 * tCL:b'0100': 7 clocks	(13125/1893.9)
 */
DATA 4, MX6_MMDC_P0_MDCFG0, 0xB8BE7955
/*
 * tRCD:b'110': 7 clocks	(13125/1893.9)
 * tRP:b'110': 7 clocks		(13125/1893.9)
 * tRC:b'11010': 27 clocks	(50625/1893.9)
 * tRAS:b'10011': 20 clocks	(37500/1893.9)
 * tRPA:b'1': 8 clocks		(tRP[+1]) 7
 * tWR:b'111': 8 clocks		(15000/1893.9)
 * tMRD:b'1011': 12 clocks	(min 4 clocks)4
 * tCWL:b'100': 6 clocks	(tCL-1)
 */
DATA 4, MX6_MMDC_P0_MDCFG1, 0xFE8E8F64
/*
 * tDLLK:0x1ff, 512 clocks	(Jedec for DDR3)
 * tRTP:b'011': 4 clocks	(7500/1893.9)
 * tWTR:same bank b'011': 4 clocks (7500/1893.9)
 * tRRD:b'101': 6 clocks	(10000/1893.9)
 */
DATA 4, MX6_MMDC_P0_MDCFG2, 0x01FF00DB
/*
 * RTW_SAME: 2 cycles,
 * WTR_DIFF: 3 cycles,
 * WTW_DIFF: 3 cycles,
 * RTW_DIFF: 2 cycles,
 * RTR_DIFF: 2 cycles
 */
DATA 4, MX6_MMDC_P0_MDRWD, 0x000026D2
/*
 * tXPR:0x8e: 143 cycles,	(270000/1893.9)
 * SDE_to_RST:0x10: 14 cycles, (Jedec)
 * RST_to_CKE:0x23: 33 cycles	(Jedec)
 */
DATA 4, MX6_MMDC_P0_MDOR, 0x00BE1023
DATA 4, MX6_MMDC_P0_MDOTC, 0x09444040
DATA 4, MX6_MMDC_P0_MDPDC, 0x00025576
/* end of CS0 US 0xffffffff  */
DATA 4, MX6_MMDC_P0_MDASP, 0x0000007f
/* MMDCx_MAARCR - bit 26 - Disable all MMDC arbitration and reordering controls */
DATA 4 0x021b0400 0x14420000

/* row:16 bits. 851A - CS0 , 451A - CS1 , C51A - CS0 & CS1*/
DATA 4, MX6_MMDC_P0_MDCTL, 0x851A0000 
DATA 4, MX6_MMDC_P0_MDSCR, 0x02088032
DATA 4, MX6_MMDC_P0_MDSCR, 0x00008033
DATA 4, MX6_MMDC_P0_MDSCR, 0x00448031 
/* A12 - 1 dll on(fast exit), CAS 7 */
DATA 4, MX6_MMDC_P0_MDSCR, 0x19408030
DATA 4, MX6_MMDC_P0_MDSCR, 0x04008040 

/* force a calibration */
DATA 4, MX6_MMDC_P0_MPZQHWCTRL, 0xA1390003
DATA 4, MX6_MMDC_P1_MPZQHWCTRL, 0xA1390003
/* 8 refreshes at a time */
DATA 4, MX6_MMDC_P0_MDREF, 0x00007800
DATA 4, MX6_MMDC_P0_MPODTCTRL, 0x00033337
DATA 4, MX6_MMDC_P1_MPODTCTRL, 0x00033337

DATA 4, MX6_MMDC_P0_MPDGCTRL0, 0x03180328
DATA 4, MX6_MMDC_P0_MPDGCTRL1, 0x03140304
DATA 4, MX6_MMDC_P1_MPDGCTRL0, 0x03180328
DATA 4, MX6_MMDC_P1_MPDGCTRL1, 0x0310025C
DATA 4, MX6_MMDC_P0_MPRDDLCTL, 0x4834383C
DATA 4, MX6_MMDC_P1_MPRDDLCTL, 0x3E3A3444
DATA 4, MX6_MMDC_P0_MPWRDLCTL, 0x363A3C40
DATA 4, MX6_MMDC_P1_MPWRDLCTL, 0x4238443E
DATA 4, MX6_MMDC_P0_MPWLDECTRL0, 0x001F0018
DATA 4, MX6_MMDC_P0_MPWLDECTRL1, 0x001D001F
DATA 4, MX6_MMDC_P1_MPWLDECTRL0, 0x0013001F
DATA 4, MX6_MMDC_P1_MPWLDECTRL1, 0x00050013

DATA 4, MX6_MMDC_P0_MPMUR0, 0x00000800

DATA 4, MX6_MMDC_P1_MPMUR0, 0x00000800
DATA 4, MX6_MMDC_P0_MAPSR, 0x00011006
DATA 4, MX6_MMDC_P0_MDSCR, 0x00000000

/* Clock Settings */

/* set the default clock gate to save power */
DATA 4, CCM_CCGR0, 0x00C03F3F
DATA 4, CCM_CCGR1, 0x0030FC03
DATA 4, CCM_CCGR2, 0x0FFFC000
DATA 4, CCM_CCGR3, 0x3FF00000
DATA 4, CCM_CCGR4, 0x00FFF300
DATA 4, CCM_CCGR5, 0x0F0000C3
DATA 4, CCM_CCGR6, 0x000003FF

/* enable AXI cache for VDOA/VPU/IPU */
DATA 4, MX6_IOMUXC_GPR4, 0xF00000CF
/* set IPU AXI-id0 Qos=0xf(bypass) AXI-id1 Qos=0x7 */
DATA 4, MX6_IOMUXC_GPR6, 0x77177717
DATA 4, MX6_IOMUXC_GPR7, 0x77177717
/*
 * Setup CCM_CCOSR register as follows:
 *
 * cko1_en  = 1	   --> CKO1 enabled
 * cko1_div = 111  --> divide by 8
 * cko1_sel = 1011 --> ahb_clk_root
 *
 * This sets CKO1 at ahb_clk_root/8 = 132/8 = 16.5 MHz
 */
DATA 4, CCM_CCOSR, 0x000000fb
#endif
