if TARGET_CHARGEPOINT_IMX8DXP_UCB

config SYS_BOARD
	default "imx8dxp_ucb"

config SYS_VENDOR
	default "chargepoint"

config SYS_CONFIG_NAME
	default "chargepoint_imx8qxp_mek"

# RMW Note PLAT-5675 didn't have this board/chargepoint/common/Kconfig
source "board/chargepoint/common/Kconfig"
# RMW no longer available - source "board/freescale/common/Kconfig"

endif
