config CHARGEPOINT_MFG
	bool "chargepoint-mfg"
	default n
	help
	  If set, builds the image to look for mfg keys rather than the
	  default fit keys. This changes the verification for the images
	  so that only mfg images should be boot with this configuration.
