config CHARGEPOINT_MFG
	bool "Build image to use fit-mfg key instead of default fit-prod key."
	default n
	help
	  If set, builds the image to look for a fit-mfg key rather than the
	  default fit-prod key. 
